<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container mt-4">
      <div
        style="display: flex; justify-content: space-between"
        className="alert alert-primary"
      >
        <div>
          <h5>All Products:</h5>
        </div>
        <button className="btn btn-info">eyes icon</button>
      </div>
      <form className="p-4">
        <input
          type="text"
          name="title"
          className="form-control mt-4"
          placeholder="title"
        />
        <input
          type="text"
          name="price"
          className="form-control mt-4"
          placeholder="price"
        />
        <input
          type="text"
          name="description"
          className="form-control mt-4"
          placeholder="description"
        />
        <input
          type="text"
          name="image"
          className="form-control mt-4"
          placeholder="image"
        />
        <input
          type="text"
          name="category"
          className="form-control mt-4"
          placeholder="category"
        />
        <button type="submit" className="btn btn-success mt-4">submit</button>
      </form>
    </div>
  </body>
</html>
